body {
  color: black;
  background: white;
  padding-left: 3em;
  padding-right: 3em;
  line-height: 130%;
}
h1, h2, h3 { color: #005A9C }
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }
a {
  color: #004080;
}
a:visited {
  color: #A25909;
}
a:hover {
  background: #ffa;
}
strong {
  text-decoration: underline;
  font-style: normal;
}
li {
  padding-right: 2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}
.ttype {
  font-family: monospace;
}
.error {
  color: #ff0000 !important;
}
code {
  background: #fafad2;
}
pre {
  padding: 0.7em;
  background: #f5deb3;
}


/*
  The following is specific to DrX's homepage.
 */

div.menu {
  border: 1px dotted black;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #eeeeff;
  padding: 0.3em 0.5em;
}

#toc-button {
  color: #888;
}
div#toc {
  display: none;
  background: #f0f0f0;
  border: 1px dotted black;
  padding: 1em 2em;
  position: fixed;
  left: 25%;
  bottom: 2em;
}
div#toc-header {
  font-style: italic;
  margin-bottom: 0.5em;
  color: #000050;
}

.gist {
  background: #ccffcc;
}
em {
  font-weight: bold;
}

.color-module {
  background: #7fffd4; /* aquamarine */
}
.color-class {
  background: #bfefff; /* lightblue1 */
}
.color-singleton {
  background: #87ceff; /* skyblue1 */
}
.color-object {
  background: #ffe7ba; /* wheat1 */
}

div.gallery {
  float: right;
  background: #eee;
  border: 1px #888 solid;
  padding: 1em;
  margin-left: 1.5em;
}
div.gallery h2 {
  font-family: serif;
  font-style: italic;
  text-align: center;
}

.comment {
  color: #aaa;
}
div.comment {
  margin-left: 1em;
}
pre .comment {
  color: #800;
}
pre .string {
  color: #080;
}

a img {
 border: 0;
}

dt {
  margin-top: 1.5em;
  margin-bottom: 0.6em;
}
